><!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
 
</head> 
<header>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CorinneHealth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
               
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Locations
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Long Island, NY</a></li>
                    <li><a class="dropdown-item" href="#">New York, NY</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
</header>

<body>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/005/843/422/small/abstract-health-science-consist-health-plus-digital-technology-concept-modern-medical-on-hi-tech-future-blue-background-vector.jpg" style="width:35cm;height:20cm;">

    <footer>
        <p>Copyright ©2022 - Corinne Harris </p>
    </footer>
</body>
</html>  